#cabecera{
    background-color: #4CAF50;
    height: 30px;
    color: rgb(251, 253, 235);
    font-size:22px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    background-color: rgb(251, 253, 235);
}

h2{
    color: #4CAF50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    background-color: #4CAF50;
    color: rgb(251, 253, 235);
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    color: #4CAF50;
    background-color: rgb(251, 253, 235);
    transition: 0.5s;
}

#gp{
    background-color: #4CAF50;
    color: rgb(251, 253, 235);
    cursor: pointer;
    border-radius: 10px;
}

#gp:hover{
    color: #4CAF50;
    background-color: rgb(251, 253, 235);
    transition: 0.5s;
}
input{
    border-radius: 5px;
}

